In [6]:
import pandas as pd
import numpy as np
import datetime as dt
import os
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='MaxMcF', api_key=os.environ['PY_API'])
import requests
import json

In [14]:
r = requests.get('https://api.iextrading.com/1.0/stock/MSFT/chart/5y')

In [15]:
json_data = json.dumps(r.json())

In [16]:
pandas_df = pd.read_json(json_data)

In [17]:
pandas_df.head()

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,-0.605457,0.000000,-2.149,27.5726,2013-09-04,27.8156,"Sep 4, 13",27.4974,27.7449,142273577,142273577,27.6358
1,0.035355,0.001280,0.128,27.6079,2013-09-05,27.7891,"Sep 5, 13",27.3560,27.4886,71623991,71623991,27.6561
2,-0.073362,-0.001378,-0.266,27.5346,2013-09-06,27.7449,"Sep 6, 13",27.5151,27.6742,75436430,75436430,27.6186
3,0.444590,0.014743,1.615,27.9791,2013-09-09,28.0985,"Sep 9, 13",27.5770,27.5954,49610584,49610584,27.8653
4,0.649653,0.038306,2.322,28.6288,2013-09-10,28.6376,"Sep 10, 13",28.0985,28.1957,56881864,56881864,28.4986

In [18]:
pandas_df.date = pd.to_datetime(pandas_df.date)

In [19]:
data = [go.Scatter(x=pandas_df.date, y=pandas_df.close)]

In [20]:
py.iplot(data)